
/* default light theme */
[data-theme="light"], :root:not([data-theme="dark"]) {
  --bg-image: linear-gradient(to bottom, rgba(240,240,240,0.97) 0%,rgba(240,240,240,0.97) 100%), url(./img/bg.jpg);
  --audio-bg: rgb(242,242,242);
  --playing-color: darkred;
  --details-border-color: rgba(170,170,170,0.5);
  --form-element-background-color: rgba(235,235,235,0.9);
  --code-color: rgb(30,30,30);
  --primary-inverse: #444;
  --spinner-color: #777;
  --accordion-active-summary-color: darkred;
  /* light var only */
}

/* user has system as dark */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --bg-image: linear-gradient(to bottom, rgba(40,40,40,0.97) 0%,rgba(40,40,40,0.97) 100%), url(./img/bg.jpg);
        --audio-bg: rgb(60,60,60);
        --playing-color: #c08aa6;
        --details-border-color: rgba(70,70,70,0.5);
        --form-element-background-color: rgba(30,30,30,0.9);
        --code-color: rgb(200,200,200);
        --primary-inverse: #ddd;
        --spinner-color: #ddd;
        --accordion-active-summary-color: #c08aa6;
        /* dark var only */
        --primary: #5ec9ed;
        --code-background-color: rgba(30,30,30,0.9);
        --accordion-open-summary-color: #aaa;
    }
  }

html {
    min-height: 100%;
    background: var(--bg-image);
    background-size: cover;
    background-position: center;
}

/* make room for audio */
body {
    margin-bottom: 40px;
}

/* adjust contain widths */
@media (max-width: 1199px) {
    .container {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 575px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    form input, form button {
        width: 100% !important;
        margin-bottom: 10px !important;
    }

}

/* adjust heading margins */
h2 {
    margin-bottom: 1.5rem;
}

/* accordions */
details details {
    margin-left: 25px;
}

details details:first-of-type {
    margin-top: 20px;
}

details details:last-of-type {
    border: none;
}

/* tracks */
button.track {
    background: none;
    border: none;
    text-align: left;
    color: var(--primary);
    margin-left: 15px;
    margin-bottom: 3px;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% - 15px);
}

button.track:last-of-type {
    margin-bottom: 15px;
}
button.track:first-of-type {
    margin-top: 0px;
}

button.track i {
    margin-right: 10px;
    font-size: 12px;
    vertical-align: middle;
}

.playing {
    color: var(--playing-color) !important;
}

/* folder ID input */
#parentfolder {
    width: calc(100% - 282px);
    margin-bottom: 3px;
    margin-right: 5px;
}

/* visibly hidden */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

/* audio player */
#audio-wrapper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: var(--audio-bg);
}

#audio-container {
    max-width: 1130px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

audio {
    width: calc(100% - 100px);
}

#next-btn, #prev-btn {
    background: none;
    border: none;
    width: auto;
    margin: 0px;
    padding: 17px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    font-size: 14px;
}

#next-btn {
    float: right;
}

#prev-btn {
    float: left;
}

#bars {
    height: 1em;
    position: relative;
    float: right;
    right: 15px;
    top: 5px;
}

.bar {
    background: slategray;
    bottom: 0;
    height: .1em;
    position: absolute;
    width: 3px;
    animation: sound 1s cubic-bezier(.17,.37,.43,.67) infinite alternate;
}

@keyframes sound {
    0% {
        opacity: .35;
        height: .1em; 
    }
    100% {
        opacity: 1;       
        height: 1em;        
    }
}

.bar:nth-child(1)  { left:  0em; animation-duration: 0.6s; }
.bar:nth-child(2)  { left: .25em; animation-duration: 0.4s; }
.bar:nth-child(3)  { left: .50em; animation-duration: 1.2s; }
.bar:nth-child(4)  { left: .75em; animation-duration: 0.5s; }

#spinner {
    display: block;
    position: relative;
    right: 18px;
    top: 1px;
    float: right;
}

#spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    margin: 0px;
    border: 4px solid var(--spinner-color);
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--spinner-color) transparent transparent transparent;
}

#spinner div:nth-child(1) {
    animation-delay: -0.45s;
}

#spinner div:nth-child(2) {
    animation-delay: -0.3s;
}

#spinner div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
/* size down */
details {
    margin-bottom: 0px;
    padding: 0px;
    border-color: var(--details-border-color);
}

details summary {
    padding: 10px;
}

button.track, details, summary {
    font-size: 16px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

/* overrides for Firefox audio */
@-moz-document url-prefix() {
    #audio-wrapper {
        background: rgb(55,55,55);
    }

    #next-btn, #prev-btn {
        padding: 20px;
        color: #ddd;
    }

    audio {
        width: calc(100% - 100px);
        margin-top: 10px;
        margin-bottom: 10px;
        background: rgb(170,170,170);
    }
}

/* for further Chrome audio overrides */

/*
audio::-webkit-media-controls-enclosure {
    border-radius: 0px;
}

audio::-webkit-media-controls-mute-button {
    display: none !important;
}

audio::-webkit-media-controls-volume-slider {
    display: none !important;
}

*/

/* returning user */
#return {
    margin-top: 250px;
}
main {
    padding-bottom: 0px !important;
}

footer {
    padding-top: 0px !important;
}

/* footer links */
ul#footer-links {
    padding: 15px;
    margin: 0px;
    text-align: center;
    margin-top: 20px;
}

ul#footer-links li {
    list-style-type: none;
    margin-bottom: 0px;
}

ul#footer-links li a, ul#footer-links li button {
    font-size: 14px;
}

ul#footer-links li:first-child {
    margin-bottom: 15px;
    font-size: 20px;
}

#footer-links button {
    color: var(--primary);
    background: none;
    border: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
