
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    color: rgba(0, 0, 0, 0.8);
    background: rgb(13,13,13);
    font-family: 'Roboto', sans-serif;
}

button:hover {
    cursor: pointer;
}

button#menu-toggle {
    border: none;
    background: none;
    padding: 0px;
    font-size: 32px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: rgb(230,230,230);
    position: fixed;
    top: 0px;
    right: 0px;
    float: right;
    font-weight: 900;
    z-index: 1000;
}

#menu button {
    padding: 7px;
    display: block;
    margin-bottom: 10px;
    background: none;
    border: none;
    color: rgb(230,230,230);
    font-size: 16px;
    margin-right: 10px;
}

#header-logo {
    position: absolute;
    top: 0px;
    left: 0px;
    background: lightseagreen;
    width: 50px;
    height: 60px;
    padding: 5px;
}

h1 {
    color: rgba(250,250,250,.8);
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    margin-left: 60px;
    line-height: 60px;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 100;
    overflow: hidden;
    max-width: calc(100% - 500px);
}

h1 a {
    color: rgba(250,250,250,.8);
    text-decoration: none;
}

h2 {
    color: rgba(250,250,250,.8);
    font-weight: 500;
}

button {
    font-family: 'Roboto', sans-serif;
}

button.track, button.album {
    display: block;
}

button.album {
    border: 0px;
    background: none;
    padding: 10px;
    margin: 0px;
    color: rgba(255,255,255,0.8);
    font-size: 16px;
    width: 100%;
    text-align: left;
    line-height: 65px;
    background: rgb(13,13,13);
}

.album:nth-child(2n) {
    background: rgb(40,40,40);
}

.album img {
    width: 65px;
    display: block;
    float: left;
    margin-right: 20px;
}

#track-list {
    display: none;
    width: 100%;
    padding-bottom: 120px;
    background-size: cover !important;
    background-position: center !important;
    min-height: calc(100% - 60px) !important;
}

button.track {
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(230,230,230);
    background: none;
    border: none;
    width: 100%;
    text-align: left;
}

button.track-active {
    background-color: rgb(150,25,25) !important;
    color: white;
}

button.track:nth-child(2n) {
    background: rgb(40,40,40);
}

button#track-list-close {
    display: none;
    border: 0px;
    padding: 20px;
    background: none;
    color: rgb(230,230,230);
}

div#albums {
    position: absolute;
    top: 100px;
    width: 100%;
    padding-bottom: 120px;
}

.track-list-album-image {
    display: block;
    width: 265px;
    max-width: 50%;
    float: left;
    padding: 20px;
}

.track-list-album-name {
    float: left;
    color: rgba(250,250,250,0.9);
    width: 50%;
    font-size: 20px;
    padding: 20px;
    padding-top: 35px;
}





.audio-player {
    background: rgb(50,50,50);
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 75px;
    display: none;
    -webkit-box-shadow: 0px -1px 70px rgb(50, 50, 50);
    -moz-box-shadow: 0px -1px 70px rgb(50, 50, 50);
    box-shadow: 0px -1px 70px rgb(50, 50, 50);
}

.audio-player-album-image {
    height: 75px;
    width: 75px;
    float: left;
}

.audio-player-song-text {
    float: left;
    line-height: 14px;
    font-size: 14px;
    margin: 0px;
    width: 215px;
    color: rgb(200,200,200);
    background: rgb(65,65,65);
    height: 75px;
    padding: 15px;
    display: flex;
    align-items: center;
}

#play-btn, #prev-btn, #next-btn {
    margin-right: 5px;
    float: right;
    background: none;
    border: none;
    margin-top: 0px;
    padding: 0px;
}

#play-btn i {
    border: 2px solid rgb(200,200,200);
    border-radius: 50%;
}

#play-btn i, #prev-btn i, #next-btn i {
    font-size: 18px;
    color: rgb(200,200,200);
    padding: 10px;
    line-height: 17px;
    width: 40px;
    height: 40px;
}

i.fas.fa-play {
    padding-left: 12px !important;
}

.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.album span {
    width: calc(100% - 120px);
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
}

#intro, #instructions {
    padding: 20px;
    padding-top: 100px;
}

button#authorize_button {
    border: none;
    padding: 0px;
    background: none;
}

button#authorize_button img {
    width: 200px;
}

p, li {
    color: rgb(220,220,220);
    line-height: 24px;
    max-width: 600px;
}

#screenshot {
    max-width: 250px;
}


.seek-container {
    width: calc(100% - 455px);
    position: fixed;
    right: 20px;
    bottom: 35px;
    height: 3px;
    display: block;
    padding: 0px;
}

.seek {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    margin: 0px;
    background: rgb(250,40,40);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: block;
    border-radius: 20%;
}

.seek:hover {
    opacity: 1;
    cursor: pointer;
}

.seek::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: crimson;
    cursor: pointer;
}

.seek::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: crimson;
    cursor: pointer;
}

@media (min-width: 800px) {
    #control-btns {
        position: fixed;
        left: 363px;
        margin-left: -68px;
        bottom: 16px;
    }

    #menu-toggle {
        display: none;
    }

    #menu {
        display: block !important;
        position: absolute;
        top: 13px;
        right: 0px;
    }

    #menu button {
        float: left;
    }
}

@media (max-width: 799px) {

    h1 {
        max-width: calc(100% - 150px);
    }

    .seek-container {
        width: calc(100% - 176px);
        left: 111px;
        top: 0px;
        background: rgb(13,13,13);
        padding-top: 28px;
        padding-bottom: 32px;
        padding-left: 5px;
        padding-right: 5px;
    }

    button#prev-btn {
        position: fixed;
        top: 0px;
        left: 50px;
        background: rgb(13,13,13);
        padding: 10px;
        padding-right: 0px;
        padding-left: 21px;
    }

    button#next-btn {
        position: fixed;
        top: 0px;
        right: -5px;
        background: rgb(13,13,13);
        padding: 10px;
        padding-left: 0px;
        padding-right: 25px;
    }

    button#play-btn {
        bottom: 17px;
        position: fixed;
        right: 12px;
    }

    .audio-player-song-text {
        width: calc(100% - 150px);
    }

    #menu {
        display: none;
        position: fixed;
        top: 0px;
        right: 0px;
        background: rgb(70,70,70);
        width: 250px;
        height: 100%;
        padding: 20px;
        z-index: 500;
    }

}



html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: rgb(13,13,13);
    scrollbar-arrow-color: rgb(13,13,13);
    scrollbar-shadow-color: #646464;
}

::-webkit-scrollbar { width: 10px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: rgb(13,13,13);}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}


/* LIGHT MODE */

::-webkit-scrollbar-track-piece { background-color: white;}

body.light {
    background: white;
    color: rgba(25,25,25,.8);
}

.light h1 {
    color: rgba(25,25,25,.75);
}

.light button.album {
    background: white;
    color: rgba(25,25,25,0.8)
}

.light .album:nth-child(2n) {
    background: rgb(243,243,243) !important;
}

.light button.track {
    color: rgb(23,23,23);;
}

.light button.track:nth-child(2n) {
    background: rgb(243,243,243);
}

.light button.track-active {
    color: white;
}

.light .album {
    margin-right: 0px !important;
    width: 100% !important;
    background: white !important;
}

@media (max-width: 799px) {
    .light button#next-btn, .light button#prev-btn {
        background: white;
    }

    .light button#next-btn i, .light button#prev-btn i {
        color: rgb(70,70,70);
    }

    .light .seek-container {
        background: white;
    }

    .light #menu {
        background: white;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }
}

.light .audio-player-song-text {
    background: rgb(230,230,230);
    color: rgb(40,40,40);
}

.light .audio-player {
    background: rgb(245,245,245);;
}

.light #play-btn i, .light #prev-btn i, .light #next-btn i {
    color: rgb(60,60,60);
}

.light #play-btn i {
    border: 2px solid rgb(60,60,60)
}

.light .track-list-album-name {
    color: rgb(40,40,40);
}

.light h2, .light p {
    color: rgb(40,40,40);
}

.light button#track-list-close {
    color: rgb(60,60,60);
}

.light #menu button {
    color: rgb(70,70,70);
}

.light button#menu-toggle {
    color: rgb(24,24,24);
}

