
/* adjust contain widths */
@media (max-width: 1199px) {
    .container {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 575px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* increase code color contrast for a11y */
code {
    color: rgb(135, 150, 160);
}

/* keep link color for code links */
a code {
    color: var(--code-tag-color) !important;
    font-size: 0.8rem;
    vertical-align: middle;
}

/* adjust heading margins */
h2 {
    margin-bottom: 1.5rem;
}
