
/* adjust contain widths */
@media (max-width: 1199px) {
    .container {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 575px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* increase code color contrast for a11y */
code {
    color: rgb(135, 150, 160);
}

/* keep link color for code links */
a code {
    color: var(--code-tag-color) !important;
    font-size: 0.8rem;
    vertical-align: middle;
}

/* adjust heading margins */
h2 {
    margin-bottom: 1.5rem;
}

/* accordions */
details details {
    margin-left: 25px;
}

details details:first-of-type {
    margin-top: 20px;
}

details details:last-of-type {
    border: none;
}

/* tracks */
a.track {
    display: list-item;
    margin-left: 35px;
}

/* folder ID input */
#parentfolder {
    width: calc(100% - 282px);
    margin-bottom: 3px;
    margin-right: 5px;
}

/* visibly hidden */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
